body {
	margin-top: 20px;
}

div.hero-unit {
	overflow: hidden;
	background: #d2d2d2;
	padding: 30px;
}

div#header-words {
	width: 350px;
}

div.hero-unit h1 {
	text-shadow: 1px 1px 2px #ffffff;
	filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
}

div.hero-unit img {
	float: right;
	border: 8px solid #000;
}

div.subnav ul li {
	float: right;
}

section {
	margin-bottom: 50px;
}