body {
	margin-top: 20px;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L",
		"Nimbus Roman No9 L", serif;
}

div.hero-unit {
	overflow: hidden;
	background: #FFFF66;
	padding: 30px;
}

div#header-words {
	width: 350px;
}

div.hero-unit h1 {
	text-shadow: 1px 1px 2px #ffffff;
	filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
}

div.hero-unit img {
	float: right;
	border: 8px solid #585858;
}

div.mainnav ul li {
	float: right;
	font-size: 150%;
}

div.subnav ul li {
	float: right;
	font-size: 110%;
}

section {
	margin-bottom: 50px;
}